
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
  

header {
    display: grid;
    height: auto;
    width: auto;
    border: 1px solid red;
}

.header-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    align-items: center;
    flex-direction: row;
    height: 50%;
    width: 100%;
    border: 1px solid orange;
}

.player-info {
    border: 1px solid rgb(0, 150, 0);
    border: 1px solid rgb(0, 255, 225);
    font-size: 3rem;
    color: #faf4f4;
    font-family: Bungee;
    padding: 10px;
}

.player-name {
    background-color: black;
    border: 1px solid rgb(0, 255, 225);
    border-radius: 20px;
    font-size: 3rem;
    color: #faf4f4;
    font-family: Bungee;
    margin-bottom: 20px;
    text-align: center;
}

.player-total-score{
    background-color: black;
    border: 1px solid rgb(0, 255, 225);
    border-radius: 20px;
    font-size: 3rem;
    color: #faf4f4;
    font-family: Bungee;
    margin-bottom: 20px;
    text-align: center;
}
.player-current-score {
    background-color: black;
    border: 1px solid rgb(0, 255, 225);
    border-radius: 20px;
    font-size: 3rem;
    color: #faf4f4;
    font-family: Bungee;
    margin-bottom: 20px;
    text-align: center;
}

.player-timer {
    background-color: black;
    border: 1px solid rgb(0, 255, 225);
    border-radius: 20px;
    font-size: 3rem;
    color: #faf4f4;
    font-family: Bungee;
    margin-bottom: 20px;
    text-align: center;
}

@media screen and(max-width: 480px){
    .header-container {
        flex-direction: column;
    }
    
}