@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

header {
  height: auto;
  width: auto;
}

.header-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  height: 50%;
  width: 100%;
}

.player-info {
  display: flex;
  flex-direction: column;
  color: #faf4f4;
  font-family: Bungee;
  padding: 10px;
}

.player-name {
  background-color: black;

  border-radius: 20px;
  color: #faf4f4;
  font-family: Bungee;
  margin-bottom: 20px;
  text-align: center;
}

.player-total-score {
  background-color: black;

  border-radius: 20px;
  color: #faf4f4;
  font-family: Bungee;
  margin-bottom: 20px;
  text-align: center;
}

.player-current-score {
  background-color: black;

  border-radius: 20px;
  color: #faf4f4;
  font-family: Bungee;
  margin-bottom: 20px;
  text-align: center;
}

.player-timer {
  background-color: black;

  border-radius: 20px;
  color: #faf4f4;
  font-family: Bungee;
  margin-bottom: 20px;
  text-align: center;
}

@media screen and(max-width: 480px) {

  .player-info,
  .player-name,
  .player-total-score,
  .player-timer {
    font-size: 1rem;
  }

  .header-container {
    justify-content: space-between;

    font-size: 1rem;
    transition: all 300ms ease-in-out;
  }

  .button-container {
    gap: 15px;
  }

  .button {
    padding: 10px 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

  .player-info,
  .player-name,
  .player-total-score,
  .player-timer {
    font-size: 2rem;
  }

  .header-container {
    justify-content: space-between;
    height: auto;
    width: 100%;
    transition: all 300ms ease-in-out;
  }

  .button-container {
    gap: 15px;
  }
}

@media screen and (min-width: 1024px) {

  .player-info,
  .player-name,
  .player-total-score,
  .player-timer {
    font-size: 3rem;
  }

  .header-container {
    justify-content: space-between;
    height: auto;
    width: 100%;
    transition: all 300ms ease-in-out;
  }

  .button-container {
    gap: 15px;
  }
}