/* Contenedor principal del juego */
.main-container {
  /*contenedor flex*/
  display: flex;
  /*lineas multiples si no caben en una sola*/
  flex-wrap: wrap;
  /*centramos elelemtos hijos a lo largo del eje transversal*/
  align-items: center;
  /*organiza los elementos hijos en columna*/
  flex-direction: column;
  /*ajusta en copntenido al contenedor*/
  object-fit: cover;
  /* distribuye espacio libre entre los elementos hijos*/
  justify-content: space-between;
  /*altura minima del contenedor automaicamente*/
  min-height: auto;
  border: 1px solid #ff901f (255, 144, 31);
}

.vasos {
  width: 30%;
}
.pelota {
  width: 8%;
}
/* Contenedor del formulario de inicio */
.start-game-container {
  /* contenedor flex*/
  display: flex;
 /*los centra en columna*/
  flex-direction: column;
 /*los ceentra a lo largo del eje principal*/
  justify-content: center;
  /*a lo largo del eje transversal*/
  align-items: center;
  /*alinea los textos dentro dwel contenedor*/
  text-align: center;
  /* background-color: #ffd319 (255, 211, 25); */
  background-color: #c82333;

  border: 2px solid #8c1eff (140, 30, 255);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 400px;
}

/* Estilo del formulario */
form {
  /*contenedor flex*/
  display: flex;
  /*los elementos del formulario en una columna*/
  flex-direction: column;
  /*añade espacio entre los elementos*/
  gap: 10px;
}

/* Estilo del campo de texto para ingresar el nombre */
#player-name {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #8c1eff (140, 30, 255);
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

/* Estilo para el botón de iniciar juego */
button {
  padding: 10px 20px;
  background-color: #f222ff (242, 34, 255);
  color: #ffd319 (255, 211, 25);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ff2975 (255, 41, 117);
}

/* Contenedor para el botón de reset */
.reset-game-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  border: 1px solid orange;
}

/* Estilo para el botón de reset */
#reset-btn {
  padding: 10px 20px;
  background-color: #dc3545;
  color: #ffd319 (255, 211, 25);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

#reset-btn:hover {
  background-color: #c82333;
}

/*estilos para movil*/

@media screen and(max-width: 480px) {
  {
    font-size: 1rem;
    transition: all 300ms ease-in-out; /* Ajusta el tiempo de transición */
}
}
/* Estilos  para tablettes */
@media screen and (min-width: 768px) {
  {
    font-size: 2rem;
    transition: all 300ms ease-in-out; /* Ajusta el tiempo de transición */
}
}
/* Estilos  para desktops */
@media screen and (min-width: 1024px) {
 { 
  font-size: 3rem;
  transition: all 300ms ease-in-out; /* Ajusta el tiempo de transición */
}
}

