.start-game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #232bc8;
    border: 2px solid #8c1eff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
    height: 200px;
    position: fixed;
    top: 25%;
    left: 47%;
    transform: translate(-50%, -50%);
    z-index: 10;
}